<div class="board">
  <div class="column">
    <h3 class="column__title">To Do</h3>

    <mat-divider class="column__divider"></mat-divider>

    <div
      class="column__body"
      id="toDoList"
      cdkDropList
      #toDoList="cdkDropList"
      [cdkDropListData]="toDoCards"
      [cdkDropListConnectedTo]="[doingList, doneList]"
      (cdkDropListDropped)="drop($event)"
    >
      <div *ngFor="let card of toDoCards">
        <card
          cdkDrag
          [cdkDragDisabled]="card.isEditMode"
          [data]="card"
          (removeItem)="removeCard($event)"
          (addItem)="addCard($event)"
          (editItem)="editCard($event)"
        >
        </card>
      </div>
    </div>
  </div>
  
  <div class="column">
    <h3 class="column__title">Doing</h3>

    <mat-divider class="column__divider"></mat-divider>

    <div
      class="column__body"
      id="doingList"
      cdkDropList
      #doingList="cdkDropList"
      [cdkDropListData]="doingCards"
      [cdkDropListConnectedTo]="[toDoList, doneList]"
      (cdkDropListDropped)="drop($event)"
    >
      <div *ngFor="let card of doingCards">
        <card
          cdkDrag
          [cdkDragDisabled]="card.isEditMode"
          [data]="card"
          (removeItem)="removeCard($event)"
          (addItem)="addCard($event)"
          (editItem)="editCard($event)"
        >
        </card>
      </div>
    </div>
  </div>
  
  <div class="column">
    <h3 class="column__title">Done</h3>

    <mat-divider class="column__divider"></mat-divider>

    <div
      class="column__body"
      id="doneList"
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="doneCards"
      [cdkDropListConnectedTo]="[toDoList, doingList]"
      (cdkDropListDropped)="drop($event)"
    >
      <div *ngFor="let card of doneCards">
        <card
          cdkDrag
          [cdkDragDisabled]="card.isEditMode"
          [data]="card"
          (removeItem)="removeCard($event)"
          (addItem)="addCard($event)"
          (editItem)="editCard($event)"
        >
        </card>
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="!cards.length && !tempCards.length">
  <h3 class="no-items">Sem itens por enquanto</h3>
</ng-container>

<button
  mat-fab
  color="primary"
  class="btn--float"
  [matTooltip]="tempCards.length > 0 ? 'Cancelar' : 'Nova tarefa'"
  (click)="createCard()"
>
  <mat-icon>{{ tempCards.length ? 'close': 'add' }}</mat-icon>
</button>